body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white; 
}

.container {
    max-width: 800px;
    margin: 50px auto;
    display: flex;
}

.left-column {
    flex: 1;
    padding: 20px;
    background-color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.right-column {
    flex: 1;
    padding: 20px;
    background-color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

p {
    font-size: 16px;
    line-height: 1.6;
}

img.profile {
    height: 250px;
    width: 250px;
    margin-top: 20px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
}

form {
    width: 100%;
}

.input-group {
    margin-bottom: 15px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}

textarea {
    height: 150px;
    resize: vertical;
}

.submit-btn {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: white;
    color: black;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
